<div class="container-fluid">
  <div class="row move-top-down">
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <div class="card text-white mb-3 bg-info">
        <h4>Popular origin</h4>
        <p><%= @routes.first[:origin] %></p>
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @routes.first[:origin] %>&zoom=6&size=400x400&markers=color:red%7Clabel:S%7C<%= @routes.first[:origin] %>&key=<%= ENV["google_maps_api_key"] %>" class="img-fluid rounded">
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <div class="card text-white mb-3 bg-info">
        <h4>Popular Destination</h4>
        <p><%= @routes.first[:destination] %></p>
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @routes.first[:destination] %>&zoom=6&size=400x400&markers=color:red%7Clabel:S%7C<%= @routes.first[:destination] %>&key=<%= ENV["google_maps_api_key"] %>" class="img-fluid rounded">
      </div>
    </div>
  </div> <!-- Row end -->
</div> <!-- Container end -->
